
:root{
--bg-color:white;
--bg-text:black;
--bg-shadow:black;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    #card-holder {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        margin: 20px;
        width: 90%; 
    }

}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}
header{

  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--bg-color);
  box-shadow: 0px 2px 5px rgb(0,0,0,0.1);
    z-index: 3;
}
nav{
    background-color: var(--bg-color);
    
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a{
    color: var(--bg-text);
    text-decoration: none;
    transition: 200ms ease;
}
a:hover{
    color: blue;
}
.header-container{
    color: var(--bg-text);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
}
.right-header-container p{
    font-size: 35px;
    font-family: "Brush Script MT", cursive;

}

.right-header-container{
    display: flex;
    gap: 30px;
  padding:0 20px;
    align-items: center;
}
.left-header-container{
    display: flex;
    gap: 30px;
padding: 0 20px;
}

.body-header{
    height: 100px;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--bg-text);
}



#card-holder{
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
}

.project-card{
   margin: 50px;
   padding: 10px;
   height: 400px;
   border-radius: 10px;
    background-color: var(--bg-color);
    display: grid;
    justify-items:end;
    grid-template-rows: 1fr 10fr 1fr ;
    box-shadow: 0px 2px 1px var(--bg-shadow);
    color:var(--bg-text);
    border:1px solid var(--bg-text);
    transition: transform 300ms ease,box-shadow 300ms ease;
}

.project-card:hover{
    transform: scale(1.07);
    box-shadow: 0px  10px 20px rgba(4, 21, 255, 0.452);
}

.project-image{

    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.article-button{
    padding:10px;
    border-radius: 10px;
    background-color: blue;
    border: none;
    font-weight: bold;
    color:white;
    transition: 300ms ease;
}

.article-button:hover{
    background-color: rgb(3, 3, 102);
    
}
.description-holder{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: flex-start;
}
.description-holder p{
    margin:10px;
}

.description-holder strong{
    margin-top:10px;
}

.about-me-body{
width: 100%;
padding:20px 40px;
height: 600px;
position: relative; 
display: flex;
flex-direction: row;
}


.about-me-holder{
    width: 100%;
    height: 600px;
    color:var(--bg-text);
    display: flex;
    align-items: center;
    flex-direction:row; 
    background-color: var(--bg-color);
}
#profile-pic{
    width: 40%;
    height:600px;
    border-color: black;
    border-radius: 100px;
    box-shadow: 0px 2px 5px var(--bg-shadow);
    flex-shrink: 0;
}
.about-me-holder-text p{
    font-weight: bold;
    font-size: 120px;
}
.about-me-holder-text{
    height: 600px;
    margin-top:50px ;
    margin-left:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-holder-text div{
    margin-top: 100px;
    background-color: var(--bg-color);
    height: 200px;
    width: 100%;
    font-size: 40px;
    box-shadow: 0px 2px 5px var(--bg-shadow);
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.Title-Seperator-Container{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#contacts{
    display: flex;
    gap:10px;
    align-items: flex-end;
    justify-content:flex-end;
    flex-direction: column;
}
#social-media{
display: flex;
gap: 10px;
}
#reserved{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 150px;
    color: gray;
    box-shadow: 1px 1px 4px var(--bg-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dark-mode-button{
    background-color: var(--bg-color);
    border:1px solid black;
    border-radius: 100px;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dark-mode-button:hover{
background-color: black;
color:white;
transition:500ms ease;
}
#dark-mode-icon{
  width: 20px;
  height: 20px;
}
body.darkmode{
--bg-color:black;
--bg-text:white;
--bg-shadow:white;
}


