*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header{

  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 2px 5px rgb(0,0,0,0.1);
    z-index: 3;
}
nav{
    background-color: white;
    
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
}
.right-header-container p{
    font-size: 35px;
    font-family: "Brush Script MT", cursive;

}

.right-header-container{
    display: flex;
    gap: 30px;
  padding:0 20px;
    align-items: center;
}
.left-header-container{
    display: flex;
    gap: 30px;
padding: 0 20px;
}

.body-header{
    height: 100px;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#card-holder{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.project-card{
   margin: 50px;
   padding: 10px;
   height: 400px;
   border-radius: 10px;
    background-color: white;
    display: grid;
    justify-items:end;
    grid-template-rows: 1fr 10fr 1fr ;
    box-shadow: 0px 2px 1px black;
}

.project-image{

    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.article-button{
    padding:10px;
    border-radius: 10px;
    background-color: blue;
    border: none;
    font-weight: bold;
    color:white;
}

.article-button:hover{
    background-color: rgb(3, 3, 102);
}
.description-holder{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: flex-start;
}
.description-holder p{
    margin:10px;
}

.description-holder strong{
    margin-top:10px;
}

.about-me-body{
width: 100%;
height: 600px;
position: relative; 
display: flex;
flex-direction: row;
}


.about-me-holder{
    width: 100%;
    height: 600px;
    color:black;
    display: flex;
    align-items: center;
    flex-direction:row;
    background-color: white;
}
#profile-pic{
    width: 40%;
    height:600px;
    border-color: black;
    border-radius: 100px;
    box-shadow: 0px 2px 5px black;

}
.about-me-holder-text p{
    font-weight: bold;
    font-size: 120px;
}
.about-me-holder-text{
    height: 600px;
    margin-top:50px ;
    margin-left:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-me-holder-text div{
    margin-top: 100px;
    background-color: white;
    height: 200px;
    width: 100%;
    font-size: 40px;
    box-shadow: 0px 2px 5px black;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.Title-Seperator-Container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#contacts{
    display: flex;
    gap:10px;
    align-items: flex-end;
    justify-content: flex-end;
}
#social-media{
display: flex;
gap: 10px;
}
#reserved{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 150px;
    color: gray;
    box-shadow: 1px 1px 4px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}